* {
    margin: 0;
    padding: 0;
}

/* html{
    font-size: 62.5%;
} */

header {
    position: relative;
}

.logo img{
    width: 200px;
    height: auto;
}

.container-fluid .icon{
    font-size: 20px;
    position: absolute;
    top: 40px;
    right: 80px;
}

.container-fluid .icon i{
    padding-right: 20px;
}

.navbar a {
    color:#333;
    cursor: pointer;
    transition: all 0.4s;
}

.navbar a:hover{
    color: rgb(222, 64, 64);
}


.navbar .fa-chevron-down{
    font-size: 10px;
}

